.buy {
  &__wrapper-box {
    // background: linear-gradient(#ff9800, #999465);

    @include on-desktoplittle {
      margin: 25px;
      // padding-inline: 110px;
    }

    // @include on-desktopmiddle {
    //   margin-top: 11%;
    // }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }

  &__img {
    // display: none;
    // text-align: center;
    border: 2px solid #7e4b3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    // @include on-tablet {
    //   display: flex;
    //   justify-content: space-around;
    // }

    &-picture {
      // width: 524px;
      height: 100px;

      // @include on-desktoplittle {
      //   margin-left: -15%;
      // }

      @include on-desktopmiddle {
        // margin-left: -11%;
        // width: 860px;
        height: 150px;
      }
    }

    &-pay {
      @include on-desktoplittle {
        top: 30%;
        left: 19%;
        position: absolute;
      }

      @include on-desktopmiddle {
        top: 27%;
        left: 14%;
      }
    }
  }

  &__input {
    width: 100%;
    padding-bottom: 19px;
    border: none;
    border-bottom: 1px solid #2f2f2f;
    color: #fff;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 20%;
    background-color: $background-color;

    &::placeholder {
      color: #929292;
      font-size: 14px;
      line-height: 130%;
    }

    &:hover {
      border-bottom: 1px solid $main-title-color-accent;

      &::placeholder {
        font-size: 16px; // Увеличиваем шрифт placeholder при наведении на input
      }
    }

    &:focus {
      outline: none; /* Убираем стандартную оранжевую рамку */
      border-bottom: 1px solid $main-title-color-accent;
      background-color: $background-color;
    }

    // &:not(:placeholder-shown) {
    //   border-bottom: 1px solid #00c4cc; /* Синяя нижняя граница, когда поле заполнено */
    //   &:hover {
    //     border-bottom: 1px solid #2f2f2f;
    //   }
    // }
  }

  &__select {
    width: 100%;
    height: 100%;
    padding: 25px 0 15px 24px;
    background-color: $background-color !important;
    color: #fff !important;
    border: none;
    border-bottom: 1px solid #2f2f2f;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background-color 0.3s ease;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2305C2DF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;

    &:hover {
      border-bottom: 1px solid $main-title-color-accent;
    }

    &:focus-visible {
      outline: none;
      border-bottom: 1px solid $main-title-color-accent;
      background-color: #191536 !important;
    }

    &:-webkit-autofill {
      background-color: $background-color !important;
      -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
      color: #fff !important;
      -webkit-text-fill-color: #fff !important;
    }

    // Синее подчёркивание, когда поле заполнено

    &:valid {
      border-bottom: 1px solid #2f2f2f; // Синяя нижняя граница
      &:hover {
        border-bottom: 1px solid $main-title-color-accent;
      }
    }

    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-color: $background-color !important;
      -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
      color: #fff !important;
      -webkit-text-fill-color: #fff !important;
    }

    option {
      background-color: $background-color;
      color: #fff;
    }

    @include on-desktoplittle {
      width: 250px;
      height: 47px;
      margin-top: 13px;
      margin-bottom: 10px;
      padding: 15px 0 15px 15px;
    }

    @include on-desktopmiddle {
      width: 100%;
      padding: 0 0 0 15px;
      margin-top: 13px;
      margin-bottom: 5px;
    }
  }

  &__order-form {
    @include on-tablet {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(6, 1fr);
    }

    @include on-desktoplittle {
      grid-template-columns: repeat(12, 1fr);
      position: absolute;
      width: 520px;
      right: 12%;
      top: 26%;
    }

    @include on-desktopmiddle {
      grid-template-columns: repeat(8, 1fr);
      width: 716px;
      top: 32%;
      right: 12%;
    }
  }
}

.form-group {
  margin-bottom: 22px;

  label {
    font-size: 14px;
    line-height: 130%;
  }

  &:hover {
    label {
      font-size: 16px; // Увеличиваем шрифт label при наведении на form-group
    }
  }

  @include on-tablet {
    grid-column: span 3;
    margin-bottom: 30px;
  }

  @include on-desktoplittle {
    margin-bottom: 33px;
  }

  @include on-desktopmiddle {
    grid-column: 5/-1;
  }

  &:nth-child(2n + 1) {
    @include on-desktoplittle {
      grid-column: 2/-6;
    }

    @include on-desktopmiddle {
      grid-column: span 4;
    }
  }
}

.basket_text {
  display: flex;
  height: 100px;
  overflow-y: auto;
  border: 1px solid #7e4b3a;
  box-sizing: border-box;
  align-items: center;
  max-width: 650px;
  padding: 15px;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  width: 100%;
  padding-bottom: 19px;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  color: #fff;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 20%;
  box-shadow: 0 0 0 1000px #000 inset;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
  background-color: $background-color !important;
  transition: background-color 0.3s ease;
}

input:-webkit-autofill:hover {
  border-bottom: 1px solid $main-title-color-accent;
}

.buy__summary {
  display: grid;
  justify-content: flex-end;
  margin: 25px;
}

.buy__summary-title {
  color: #ec6436;
  margin-bottom: 15px;
}

.buy__summary-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 100px;
  border: 2px solid #7e4b3a;
  padding: 15px;
}

.buy-th {
  padding-left: 20px;
}

.buy-tr {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #ec6436;
}

.buy-tr.sum {
  color: white;
}

#total-quantity {
  padding-left: 55px;
}

.cart-actions {
  width: 300px;
  margin-bottom: 25px;
  margin-left: 84%;
}

.basket-delete path,
.basket-delete path rect {
  fill: #ec6436;
}

.cart-container {
  width: 95%;
  margin: 15px auto;
  background: #944d34;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  @include on-mobile {
    font-size: 13px;
  }
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  color: white;

   @include on-mobile {
    padding: 10px;
  }
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.cart-item-details {
  display: flex;

   @include on-mobile {
    width: 71px;
    margin-right: 4px;
  }
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity-btn {
  background: #602e2a;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @include on-mobile {
    padding: 0;
    width: 20px;
    height: 20px;
  }
}

.quantity-btn:hover {
  background: #ccc;
}

.quantity {
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.item-price {
  font-weight: bold;
  margin-left: 15px;
}

.remove-btn {
  width: 250px;
  background: #602e2a;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15px;

  @include on-mobile {
    margin-left: 10px;
    padding: 8px;
    width: 30px;
  }
}

.remove-btn:hover {
  background: #d32f2f;
}

.cart-total {
  text-align: right;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  color: white;
}

.clear-cart {
  background: #ff9800;
  color: white;
  width: auto;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.clear-cart:hover {
  background: #f57c00;
}

.class1.class2 path,
.class1.class2 rect {
  fill: white !important;
}

.empty-cart {
  text-align: center;
  color: white;
  font-style: italic;
}
