$mobile: 320px;
$tablet: 768px;
$desktop-little: 1280px;
$desktop-middle: 1920px;
$font-family: 'Inter', sans-serif;
$font-size: 16px;
$main-title-color: #fff;
$main-title-color-accent: #f4970f;
$main-text-color: #929292;
$line-height: 150%;
$font-weight: 400;
$background-color: #000;
